* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

a:link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;



}

.container {

    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 98vw;
    justify-content: space-around;
    background: linear-gradient(180deg, #FFFFFF -7.17%, rgba(251, 251, 253, 0.974843) 43.3%, rgba(124, 119, 189, 0.2) 112.46%, rgba(124, 119, 189, 0.4) 113.28%);
    border-radius: 40px;
}

.title {
    font-size: 30px;
    line-height: 37px;


    letter-spacing: 0.08em;

    color: #000000;
}

.buttons,
.login-welcome,
.signup-welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    padding: 0.5rem;
    background-color: transparent;
    cursor: pointer;

}

.loginWelcome {
    /* login btn */
    fill: #49448C;

}

.loginWelcome:hover {
    fill: #cac7f3;

}

.signupWelcome {
    fill: white;
    stroke: #49448C;
}

.signupWelcome:hover {
    fill: #cac7f3;
    stroke: #FFFFFF;

}

/* <!-- LOGIN FORM --> */

.welcome-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.08em;

    color: #000000;

}

.welcome-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.08em;
    padding-block: 0.3rem;

    color: rgba(55, 71, 79, 0.8);
}

.login-email,
input {
    position: relative;
    width: 320px;
    height: 48px;
    background: rgba(73, 68, 140, 0.1);
    border-radius: 30px;
    border: none;

}

input:focus,
textarea:focus,
select:focus {
    outline: none;

}

::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

}

.fPassoword {
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;

    color: rgba(0, 0, 0, 0.5);
}


.form {
    padding-block: 8rem;
}


.inputField input {
    
    padding: 2px 35px;


}

.inputField {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}